html {
  height: 100vh;
  width: 100vw;
}
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  position: fixed;
  background-color:#bdd6ec;
  background: linear-gradient(302deg, #89a8d4, #bdd6ec, #eef3ff, #bdd6ec);
  background-size: 800% 800%;
  -webkit-animation: Sky 27s ease infinite;
  -moz-animation: Sky 27s ease infinite;
  animation: Sky 27s ease infinite;
}

a {
  cursor:pointer;
  pointer-events: auto;
}

@-webkit-keyframes Sky {
  0%{background-position:4% 0%}
  50%{background-position:97% 100%}
  100%{background-position:4% 0%}
}
@-moz-keyframes Sky {
  0%{background-position:4% 0%}
  50%{background-position:97% 100%}
  100%{background-position:4% 0%}
}
@keyframes Sky {
  0%{background-position:4% 0%}
  50%{background-position:97% 100%}
  100%{background-position:4% 0%}
}
@font-face {
  font-family: "unifont";
  src: url(assets/unifont.otf);
}




#overlay {
  position: absolute;
  display: block;
  margin-top: 50vh;
  text-align: center;
  margin-left: 50%;
}
#overlay-1 {
  /* background-color: #ff0000; */
  width: 160px;
  height: 160px;
  position: absolute;
  top: 50px;
  left: 100px;
  pointer-events: none;
}
#overlay-2 {
  width: 90px;
  height: 90px;
  position: absolute;
  top: 50px;
  right: 150px;
  pointer-events: none;
   transform: rotate(-20deg);
}
#overlay-3 {
  width: 240px;
  height: 312px;
  position: absolute;
  filter: blur(4px);
  -webkit-filter: blur(4px);
  bottom: 0;
  right: 0;
  pointer-events: none;
}
#overlay-4 {
  /* background-color: #ff0000; */
  width: 200px;
  height: 200px;
  position: absolute;
  top: 400px;
  left: 70px;
  pointer-events: none;
}
.typewriter h1 {
  color: #fff;
  font-family: "unifont";
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .2em solid rgb(255, 255, 255); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .2em; /* Adjust as needed */
  animation: 
    typing 3s steps(30, end),
    blink-caret .5s step-end infinite;
  pointer-events: none;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  padding: 20px;
  font-family: "helvetica";
  font-weight: lighter;
   z-index: 99;
}
.header a {
  color: black;
  padding: 20px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header:hover {
  mix-blend-mode: difference;

}

.header-right {
  position: fixed;
  right: 0;
  top: 0;
  overflow: hidden;
  padding: 20px;
  font-family: "helvetica";
  font-weight: lighter;
   z-index: 99;
}

.header-right a {
  color: black;
    padding: 20px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.header-right:hover {
  mix-blend-mode: difference;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgb(255, 255, 255); }
}

.box {
  width: 40%;
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}

.overlay-box {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.577);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 100;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}
.overlay-box:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 100px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
   width: 30%;
  position: relative;
  transition: all .5s;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #d80606;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}

@media only screen and (max-width: 600px) {
#overlay {
    margin-left: 40%;
  }  
  .popup{
     margin: 50px auto;
  }
  #overlay-1 img{
     margin-left: -100px;
  }
  #overlay-2 img{
  margin-left: 150px;
    width: 60px;
     margin-top: 70px;
  }
  #overlay-3 {
    right: -90px;
    bottom: -80px;
  }
  #overlay-4 img {
    margin-top: 100px;
    width: 50%;
    height: 50%;
    margin-left: -50px;
  }
  #overlay-3 img{
    width: 180px;
    height: 234px;
  }
}
